/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color);
    margin: 0;
    color: #ffffff;
}

:root {
    --color: #000000;
    --color1: #161618;
    --color2: #818181;
    --color3: #ddd;
    --color4: #ccc;
    --tab-padding: 14px 16px;
    --tab-margin: 0 5px;
}


h1 {
    color: var(--color2);
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Search Box */
.search-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--color1);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Category Filter */
.category-filter {
    display: flex;
    overflow-x: auto;
    margin-bottom: 15px;
    gap: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.category-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: var(--color2);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s, transform 0.3s;
}

.category-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.category-button.active {
    background-color: #0056b3;
}

/* Student List */
.student-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 100%;
}

/* Student Card */
.student-card {
    background: var(--color1);
    border: 1px solid #ccc;
    color: var(--color2);
    text-decoration: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;

}

.student-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.student-card img {
    border-radius: 50%;
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s;
}

.student-card img:hover {
    transform: scale(1.1);
}

.student-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.student-card p {
    font-size: 0.9em;
    color: #666;
}

/* Back Button */
.back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--color1);
    color: var(--color2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s;
    z-index: 5;
    position: relative;
}

.back-button:hover {

}

/* Student Details */


.student-details {
    background: var(--color);
    width: 100%;
    height: 100vh;
    max-width: 460px;
    overflow: hidden;
}


.student-details p {
    font-size: 0.9em;
    margin: 10px 0;
    color: var(--color2);
}

.student-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.student-details li {
    margin: 10px 0;
    color: var(--color2);
    font-size: 0.9em;
}

.header-detail-prof {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
}

.header-detail-prof i {
    font-size: 20px;
    cursor: pointer;
}

.header-text {
    font-size: 18px;
}

.header-detail-prof i:first-child {
    margin-right: auto;
    background-color: #0000005b;
    backdrop-filter: blur(20px);
    padding: 15px 16px;
    border-radius: 50px;
}

.header-detail-prof i:last-child {
    margin-left: auto;
    background-color: #0000005b;
    backdrop-filter: blur(20px);
    padding: 15px 16px;
    border-radius: 50px;
}

.header-button {
    background: none;
    border: none;
    color: #ffffff;
}


.header-button i {
    font-size: 20px;
}


.profile-image {
    margin-right: 20px;
    width: 150px; /* Atur ukuran sesuai kebutuhan */
    height: auto; /* Atur tinggi otomatis berdasarkan lebar */
}




.prof-student {
    flex: 1; /* Membuat div teks menyesuaikan sisa ruang */
}

.profile-met {
    margin: 5px 0;
}

.prof-agez p{ 
    margin-bottom: -23rem;
    background-color: white;
    color: var(--color);
    display: inline-block;
    padding: 5px 20px;
    border: 2px solid var(--color);
    border-radius: 50px;
    position: absolute;
    z-index: 2;
    margin-left: 35px;
    margin-top: -50px;
    font-size: 10px;

}

.prof-grad {
    width: 100%;
    height: 100px;
    object-fit: cover;
    padding: 20px;
    position: relative;
    max-width: 460px;
    z-index: 1;
    background-color:rgb(0, 0, 0);
    background-image:
    radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

.prof-grad::before {
    content: "";
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    width: 100%;
    height:  100px;
    top: 0;
    object-fit: cover;
    z-index: 3;
    position: absolute;
    left: 0;

}

.student-profile {
    display: flex;
    flex-direction: column;    
    background-color: var(--color);
    overflow: hidden;
}

.profile-header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 24px;
    position: relative;
    top: -rem;
    z-index: 2;
}

.profile-header img {
    margin-right: 20px;
    height: 100px; /* Atur tinggi otomatis berdasarkan lebar */
    width: 100px;
    object-fit: cover;
    border-radius: 50px;
}


.profile-header h2 {
    font-size: 20px;
    margin: 0;
    text-align: left;
}

.profile-meta {
    margin: 5px 0;
    font-size: 14px;
}

.profile-details {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-details h3 {
    font-size: 18px;
    margin-top: 20px;
}

.profile-details p {
    margin: 5px 0;
    font-size: 14px;
}

ul.achievements,
ul.activities {
    margin: 10px 0 20px;
    padding: 0;
    list-style-type: none;
}

ul.achievements li,
ul.activities li {
    margin-bottom: 5px;
    font-size: 14px;
}

.extra {
    padding: 0px 24px;
}

.extra-icons {
    display: flex;
    align-items: center;

}

.extra-icons img {
    width: 30px;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
}

.friends-list {
    display: flex;
    flex-wrap: wrap;
}

.friends-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.tabs {
    overflow: hidden;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color1)
}

.tab-link {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 18px 16px;
    transition: background-color 0.3s;
    color: var(--color1);
}

.tab-link i{
    font-size: 20px;
}
.tab-link:hover {
    color: #ffffff;
}

.tab-link.active {
    border-bottom: 1px solid #fafafafa;
    color: #fafafafa;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid var(--color);
    border-top: none;
}

.button-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center; /* Mengatur tombol agar berada di tengah */
    gap: 10px; /* Jarak antara tombol */
    margin: 24px 0px;
    font-weight: 600;
}

button {
    font-family: "Poppins", sans-serif;
}

.button-prof {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

.follow-button {
    background-color: var(--color1);
    color: white;
}

.share-button {
    background-color: var(--color1);
    color: white;
}


/* Media Queries */
@media (min-width: 600px) {
    .search-box {
        padding: 15px;
    }

    .category-button {
        padding: 10px 20px;
    }

    .student-card {
        max-width: 250px;
        padding: 20px;
    }

    .student-card img {
        max-width: 100px;
    }

    .student-details {

    }

    .student-details img {
        max-width: 120px;
    }
}
